version: '3.8'
services:
  email_backup:
    build: .
    volumes:
      - ./logs:/app/logs
      - ./emails:/app/emails
    command: ["python3", "email_backup/main.py", "--username", "${USERNAME}", "--password", "${PASSWORD}", "--server", "${SERVER}", "--daemon", "${DAEMON}"]